version: '3.3'
services:
    pgadmin:
        container_name: pgadmin-ctr
        image: dpage/pgadmin4
        networks:
            - {{ network_name }}
        environment:
            - 'PGADMIN_DEFAULT_EMAIL={{ pgadmin_default_email }}'
            - 'PGADMIN_DEFAULT_PASSWORD={{ pgadmin_default_password }}'
        ports:
            - "{{ pgadmin_port }}:80"
        volumes:
            - '${PWD}/servers.json:/pgadmin4/servers.json'
            - '{{ pgadmin_data_volume }}:/var/lib/pgadmin'

volumes:
    {{ pgadmin_data_volume }}:
networks:
    {{ network_name }}:
      driver: bridge
      name: {{ network_name }}