{
    "Servers": {
        "1": {
            "Name": "{{ pg_server_name }}",
            "Group": "{{ pg_server_group }}",
            "Host": "{{ pg_server_host }}",
            "Port": "{{ pg_server_port }}",
            "MaintenanceDB": "{{ pg_server_maintenance_db }}",
            "Username": "{{ pg_server_username }}",
            "SSLMode": "{{ pg_server_ssl_mode }}"
        }
    }
}
